* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans";
}

@font-face {
    font-family: "Klemer";
    src: url(../public/fonte//Klemer\ Display\ DEMO.ttf);
}

/* .background-img {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
} */

.second-section {
    padding: 64px 140px;
    background-color: white;
    position: relative;
    z-index: 100;

    h2 {
        font-family: "Abril Fatface", serif;
        font-size: 32px;
        color: #0A1542;
        text-align: center;
    }

    .second-section-content {
        .second-section-content-cards {
            display: flex;
            justify-content: center;
            
            gap: 72px;
            margin: 60px 0;

            .card {
                background-color: #ABD2FB;
                font-size: 20px;
                font-weight: 300;

                img {
                    width: 364px;
                    height: 269px;
                }

                p {
                    padding: 10px;
                }
            }
        }

        .see-more {
            text-align: center;
            color: #0A1542;
            font-size: 24px
        }
    }
}

.third-section {
    padding: 112px 140px;
    background-color: transparent;
    background-image: url('../src/assets/backgroundSecond.webp');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 100;

    .third-section-content {
        .third-section-content-text {

            h2 {
                font-family: "Abril Fatface", serif;
                font-size: 36px;
                color: #ABD2FB;
                text-align: center;
            }

            p {
                margin: 92px 0;
                font-size: 24px;
                font-weight: 300;
                color: #ABD2FB;
                text-align: center;

                a {
                    color: #ABD2FB;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }

    .see-more {
        text-align: center;
        color: #ABD2FB;
        font-size: 24px;
    }
}

.fourth-section {
    padding: 49px 0 145px 0;
    background-color: white;
    position: relative;
    z-index: 200;


    .fourth-section-content {
        .fourth-section-content-text {
            color: #0A1542;
            text-align: center;

            h2{
                padding-bottom: 125px;
                font-family: "Abril Fatface", serif;
                font-size: 32px;
                line-height: 1.5;
            }

            p {
                padding-bottom: 35px;
                font-weight: 300;
                font-size: 24px;
            }

            button {
                font-family: "Abril Fatface", serif;
                font-weight: 400;
                padding: 7px 40px;
                font-size: 24px;
                background-color: #0A1542;
                color: #B8E1FF;
                border: none;
                cursor: pointer;
            }
        }
    }
}